#gitIcon {
	float: right;
	background: url(../images/git_icon.png) no-repeat center center;
    height: 23px;
    margin: 4px 0 0 4px;
    width: 67px;
    cursor: pointer;
}

#gitOptions {
	display: none;
}

#gitOptions label {
	font-size: 10px;
	font-weight: bold;
	margin: 4px 0px 2px 0px;
	display: block;
}

#gitOptions #gitUrl {
	text-align: center;
}

#gitOptions pre {
	border: 1px solid #999;
	background: #dedede;
	border-radius: 3px;
	padding: 7px 0 5px 26px;
	overflow: hidden;
}

#gitOptions object {
	margin-top: -37px;
	margin-left: 2px;
	position: absolute;
	border:none;
}


#gitOptions tr.changeset td.committed_on, #gitOptions tr.changeset td.author {
	width: auto !important;
}

#gitOptions .id {
	width: 50px !important;
}

#gitOptions .left {
	clear: right;
	float: left;
	width: 49%;
	display: block;
}

#gitOptions .right {
	float: right;
	width: 49%;
}

#gitOptions .flash.error {
	clear: both;
	margin-top: 90px;
}

#revs.disabled {
	opacity: 0.5;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
}

#revs {
	clear: both;
	padding-top: 20px;
}

#frame {
	width: 1px;
	height: 1px;
	overflow: hidden;
}